* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Young Serif", serif;
}

:root {
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

.body {
  background-color: var(--Stone-100);
}

.main {
  display: flex;
  flex-direction: column;
  width: 756px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}

img {
  display: flex;
  border-radius: 12px;
  margin-bottom: 40px;
}

h1 {
  display: flex;
  color: var(--stone-900);
  font-size: 40px;
  margin-bottom: 24px;
  font-weight: 700;
}

p {
  display: flex;
  color: var(--Stone-600);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}

list-items {
  display: flex;
}

.pagination {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.preparation-time {
  background-color: var(--Rose-50);
  font-weight: 600;
  margin-bottom: 14px;
}

.preparation-time ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 24px;
  /* padding-right: 24px; */
}

h2 {
  font-size: 20px;
  color: var(--Rose-800);
  margin-bottom: 16px;
}

li {
  font-family: "Outfit", sans-serif;
  color: var(--Stone-600);
  font-weight: 400;
}

.span {
  font-weight: 600;
}

.ingredients ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 18px;
}

.order-list {
  display: flex;
  flex-direction: column;
  color: var(--Brown-800);
}

.instructions ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 18px;
}

.nutrition table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition tr {
  border-bottom-color: var(--Stone-150);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.nutrition td {
  font-family: "Outfit";
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
}

.nutrition span {
  color: var(--Brown-800);
  font-family: "Outfit";
  font-weight: 700;
}

.nutrition table tr:last-of-type {
  border-bottom-width: 0px;
}

@media (max-width: 375px) {
  .main {
    width: 375px;
  }

  img {
    display: flex;
    width: 375px;
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .main {
    width: 616px;
  }
  img {
    display: flex;
    width: 536px;
    margin-left: auto;
    margin-right: auto;
  }
}
